@model EditUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}



<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangeUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<input type="hidden" asp-for="ImageId" />*@

            <partial name="_User" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ChangePassword" class="btn btn-warning">Cambiar Contraseña</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="@Model.ImageFullPath" style="width:250px;height:250px;border-radius:50%" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
             

            
        });
    </script>
}
