@model long

<a type="button" class="btn btn-secondary"
   asp-action="Details"
   asp-route-id="@Model">
    <i class="fa fa-backward"></i>
    <span data-localize="options.Edit">
        Volver al Detalle
    </span>
</a>