@model long

<a type="button" class="btn btn-primary"
   asp-action="Edit"
   asp-route-id="@Model">
    <i class="fa fa-edit"></i>
    <span data-localize="options.Edit">
        Editar
    </span>
</a>