@model long

<a type="button" class="btn btn-danger"
   asp-action="Delete"
   asp-route-id="@Model">
    <i class="fa fa-trash"></i>
    <span data-localize="options.Delete">
        Eliminar
    </span>
</a>