 
            <a onclick="history.go(-1);"
               class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i>
                <span >
                    Volver Atras
                </span>
            </a>
            