
<div  class="hideOnPrint">
    <div class="row">
        <div class="col-sm-3 row">
            <label data-localize="general.from" class="control-label">Desde</label>
            <input id="dateFrom"  class="form-control" type="date" />
        </div>
        <div class="col-sm-3 row">
            <label data-localize="general.to" class="control-label">Hasta</label>
            <input id="dateTo"  class="form-control" type="date" />
        </div>
        <div class="col-sm-1">
            <label data-localize="general.filter" class="control-label">Filtrar</label>
            <a class="btn btn-primary form-control" id="filterDate">
                <i class="fa fa-search "></i>
            </a>
        </div> 
       
    </div>  
</div>
 
