<div class="row">
    @*<div class="col-md-offset-2 col-md-5">*@
        <div class=" col-sm-12">
            @*<a asp-area="" onclick="history.go(-1);">Return to client detail</a>*@
            <a onclick="history.go(-1);"
               class="btn btn-secondary">
                <i class="fa fa-times "></i>
                <span data-localize="options.cancelAndBack">
                    Cancelar y Volver Atras
                </span>
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save "></i>
                <span data-localize="options.save">
                    Guardar
                </span>
            </button>
        </div>
    </div>
