
@{
    ViewData["Title"] = "Error404";
}

<h1>El elemento al que intenta acceder no se encuentra disponible, ya no existe o Usted no tiene permisos para visualizarlo.</h1>
<br /><br />
<h1>Intente comunicarse con su administrador de sistemas para mas información al respecto.</h1>