* {
    font-size: 11px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

    td.description,
    th.description {
        width: 100px;
        max-width: 100px;
    }

    td.quantity,
    th.quantity {
        width: 60px;
        max-width: 60px;
        word-break: break-all;
    }

    td.price,
    th.price {
        width: 60px;
        max-width: 60px;
        word-break: break-all;
    }

.centered {
    text-align: center;
    align-content: center;
}

.leftAlign {
    text-align: left;
    align-content: flex-start;
}

.ticket {
    width: 58mm;
    max-width: 200px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
        width: 58mm
    }
}
