@model IEnumerable<Periodicity>

@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index"
       asp-controller="Options"
       asp-area=""
       class="btn btn-success">
        <i class="fa fa-reply-all"></i>
        <span>Regresar a Todas las Opciones</span>
    </a>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        <span>Registrar Nuevo </span>

    </a>
</p>
<h2 style="color:green">
    @ViewBag.Msg
</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Codigo
                    </th>

                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Code
                    </td>
                   
                    <td style="width:120px;">
                        <div class="btn-group" role="group">

                            @await Html.PartialAsync("_BtnPartial", new ButtonsModel
                                                                       {
                                                                           Action = "Details",
                                                                           ButtonType = "btn-sm btn-outline-success",
                                                                           Icon = "list",
                                                                           ToolTipText = "Detalles e Información",
                                                                           Text = "",
                                                                           Id = item.Id,
                                                                       }
                                                  )
                            @await Html.PartialAsync("_BtnPartial", new ButtonsModel
                                                                       {
                                                                           Action = "Edit",
                                                                           ButtonType = "btn-sm btn-outline-primary",
                                                                           Icon = "pencil-alt",
                                                                           Text = "",
                                                                           ToolTipText = "Modificar Registro",
                                                                           Id = item.Id,
                                                                       }
                                                   )
                            @await Html.PartialAsync("_BtnPartial", new ButtonsModel
                                                                       {
                                                                           Action = "Delete",
                                                                           ButtonType = "btn-sm btn-outline-danger",
                                                                           Class = "btnDirectDelete",
                                                                           Icon = "trash",
                                                                           Text = "",
                                                                           ToolTipText = "Eliminar Registro",
                                                                           Id = item.Id,
                                                                       }
                                                  )
                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
  
    <script>

        $(document).ready(function () {
         
        }); 

    </script>
}




