
@model PlanTransaction

@{
    ViewData["Title"] = "Detalle ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

@await Html.PartialAsync("_BtnsForDetails", new ButtonsModel
                                                            {
                                                                Id = Model.Id,
                                                            }
                        )
<div class="IsDetailForm">
    <partial name="_ModelCommon" />
</div>

<br />
<br />

 


